<app-header></app-header>
<div *ngIf="gameInProgress; else gameOver">
  <app-panel (endGame)="endGame($event)"></app-panel>
</div>

<ng-template #gameOver>
  <div *ngIf="typeFinish === 'gameOver'; else gameWin" class="boxEndGame">
    <h3>Fim de jogo, infelizmente você perdeu!</h3>
    <button (click)="startGame()" mat-raised-button>Jogar novamente</button>
  </div>
</ng-template>

<ng-template #gameWin>
  <div class="boxEndGame">
    <h3 class="win">Fim de jogo, Parabéns você ganhou!</h3>
    <button (click)="startGame()" mat-raised-button>Jogar novamente</button>
  </div>
</ng-template>
